<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321468040282-n3egsjs1o01dfo3msq8qsh9d0dtrgdm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321468040282-n3egsjs1o01dfo3msq8qsh9d0dtrgdm8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Qs4ss45h-wb4C1OvWg3OUGWCnPko7qE</string>
	<key>GCM_SENDER_ID</key>
	<string>321468040282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ademtarhan.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-f6e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-f6e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321468040282:ios:7d63d1ec9ecab9cf018463</string>
</dict>
</plist>